<section class="w-full mt-[100px]">
  <% if resource.errors.any?%>
    <% if current_page?(new_user_registration_path) %>
      <p class="text-red-600"><%= resource.errors.messages_for(:base).first %></p>
    <% else %>
      <p class="text-red-600"><%= resource.errors.messages_for(:base).first %></p>
    <% end %>
  <% end %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col sm:w-[60%] xl:w-[40%] items-center m-auto p-8 bg-gray-200 text-sm shadow-lg rounded-md" }) do |f| %>
    <h1>Novo Registro</h1>
    <div class="field flex-col py-3 pb-5">

      <div>
        <%= f.label :email %>
      </div>

      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if resource.errors.any?%>
            <p class=' text-red-600'><%= resource.errors.full_messages_for(:email).first %></p>
        <% end %>
      </div>

    </div>

    <div class="field flex-col py-3 pb-5">
      <div>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres, no mínimo)</em>
        <% end %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if resource.errors.any?%>
            <p class=' text-red-600'><%= resource.errors.full_messages_for(:password).first %></p>
        <% end %>
      </div>
    </div>

    <div class="field flex-col py-3 pb-5">

      <div>
        <%= f.label :password_confirmation %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <% if resource.errors.any?%>
            <p class=' text-red-600'><%= resource.errors.full_messages_for(:password_confirmation).first %></p>
        <% end %>
      </div>

    </div>

    <div class="actions btn-primary w-[250px]">
      <%= f.submit "Registrar" %>
    </div>

    <div class="btn-secondary w-[250px]">
      <%= render "devise/shared/links", class: "btn-secondary cursor-pointer" %>
    </div>
    <% end %>
</section>
