<!DOCTYPE html>
<html>
  <head>
    <title>TransportadoraApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <header>
    <nav>
      <ul>
        <% if !user_signed_in? && !admin_signed_in?%>
          <li><%= link_to 'Login como Transporadora', new_user_session_path %></li>
          <li><%= link_to 'Login como Admin', new_admin_session_path%></li>
        <% end %>
        <% if current_admin %>
          <li><%= button_to 'sair', destroy_admin_session_path, method: :delete %></li>
          <li><%= current_admin.email %></li>
          <li><%= link_to 'Transportadoras', admin_shipping_companies_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= button_to 'sair', destroy_user_session_path, method: :delete %></li>
          <li><%= current_user.email %></li>
          <li><%= link_to 'Transportadora', user_shipping_company_path(current_user.shipping_company) %></li>
          <li><%= link_to 'Ordens de Serviço', user_shipping_company_orders_path(current_user.shipping_company) %></li>
          <li><%= link_to 'Veículos', user_shipping_company_vehicles_path(current_user.shipping_company) %></li>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  
  </header>
  <body>
  
    <%= yield %>
  </body>
</html>
