<!DOCTYPE html>
<html>
  <head>
    <title>TransportadoraApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class="text-white bg-black" >
      <div class="flex m-auto w-[1200px] justify-between items-center text-xs">
        <div class="w-[250px] text-center">
          <h1 class="cursor-pointer px-3 py-3">TransportadoraApp</h1>
        </div>
        
        <div class="mr-3">
          <nav>
            <ul class="flex justify-between space-x-4">
              <% if current_admin %>
                <li class="menu-item"><%= link_to 'Transportadoras', admin_shipping_companies_path, class: "" %></li>
                <li class="menu-item"><%= link_to 'Produtos', admin_products_path, class: "" %></li>
                <li class="menu-item"><%= link_to 'Ordens', admin_orders_path, class: "" %></li>
                <li class="menu-item"><%= link_to 'Orçamento', new_admin_budget_generate_path, class: "" %></li>
                <span class="border-l-2 border-white h-[15px] m-auto"></span>
                <li class="px-3 py-3"><%= current_admin.email %></li>
                <li class="px-3 py-3"><%= button_to 'Sair', destroy_admin_session_path, method: :delete %></li>
              <% end %>

              <% if current_user %>
                <li class="menu-item"><%= link_to 'Transportadora', user_shipping_company_path(current_user.shipping_company), class: "" %></li>
                <li class="menu-item"><%= link_to 'Ordens Pendentes', user_shipping_company_orders_path(current_user.shipping_company), class: "" %></li>
                <li class="menu-item"><%= link_to 'Ordens Aceitas', pending_user_shipping_company_orders_path(current_user.shipping_company), class: "" %></li>
                <li class="menu-item"><%= link_to 'Veículos', user_shipping_company_vehicles_path(current_user.shipping_company), class: "" %></li>
                <li class="menu-item"><%= link_to 'Entregas', new_user_shipping_company_shipping_status_path(current_user.shipping_company), class: "" %></li>
                <span class="border-l-2 border-white h-[15px] m-auto"></span>
                <li class="px-3 py-3"><%= current_user.email %></li>
                <li class="px-3 py-3"><%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "" %></li>
              <% end %>
              
              <% if !user_signed_in? && !admin_signed_in?%>
                <li class="menu-item"><%= link_to 'Transportadora', new_user_session_path, class: "" %></li>
                <li class="menu-item"><%= link_to 'Administrador', new_admin_session_path, class: "" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    </div>
    <p class="notice text-green-500"><%= notice %></p>
    <p class="alert text-red-600"><%= alert %></p>  
    <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
    </main>
  </body>
</html>
